main {
    margin: 1rem 5rem;
    padding: 1rem 5rem;
}

.content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

p.content {
    padding-bottom: 1rem;
}

.blog-title {
    left: 5%;
}

.blog-date {

}

.blog-title-bar {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}

.headline1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    position: relative;
    background-color: #f0d8e8;
    box-shadow: 0px 0px 0px 5px #f0d8e8;
    border: dashed 2px #ffffff;
    color:#000000;
}

.headline1:after {
    position: absolute;
    content: '';
    top: -7px;
    left: -7px;
    border-width: 0 0 20px 20px;
    border-style: dashed;
    border-color: #fff #fff #dec8d6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.headline2 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    position: relative;
    background-color: #f0d8e8;
    box-shadow: 0px 0px 0px 5px #f0d8e8;
    border: dashed 2px #ffffff;
    color:#000000;
}

.headline2:after {
    position: absolute;
    content: '';
    top: -7px;
    left: -7px;
    border-width: 0 0 20px 20px;
    border-style: dashed;
    border-color: #fff #fff #dec8d6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

p {
    text-indent: 1em;
}

/*
MOBILE SIZE ==================== */
@media screen and (max-width: 900px) {
    
    main {
        margin: 0.3rem 0.2rem;
        padding: 0.3rem 0.2rem;
    }

    .content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}
