@font-face {
  font-family: 'azuki'; 
  src: url('../fonts/azuki.ttf')
  format('truetype');
}

/*
MOBILE SIZE ==================== */

/*
DESCTOP SIZE ==================== */
@media screen and (min-width: 901px) {

}

/*
ALL SIZE =============== */
* {
    margin: 0;
    padding: 0;
}

/* -----all----- */
li {
    list-style-type: none;
}

/* -----header----- */
header {
    background-color: #333;
    background-size: auto;
    padding: 0.5rem;
    text-align: right;
}

.menu-btn {
    display: block;
    border: 1px solid #999;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
    font-family: 'azuki';
}

nav {
    background: #0bd;
    position: absolute;
    z-index: 1;
    top: 3.125rem;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    width: 0;
    transition: 0.5s;
    height: 100%;
}

nav.open-menu {
    width: 50%;
    height: 100%;
}

.main-menu {
    line-height: 5;
    font-size: large;
    font-family: 'azuki';
}

.menu-list {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

footer {
    background-color: #999;
    padding: 0.5rem;
}

.font-azuki {
    font-family: 'azuki';
}

.blog-title-bar {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}

.post-img {
    object-fit: cover;
    width: 10%;
    height: 10%;
}