/*
MOBILE SIZE ==================== */

/*
DESCTOP SIZE ==================== */
@media screen and (min-width: 901px) {

}

/*
ALL SIZE =============== */

/* -----all----- */
li {
    list-style-type: none;
}

/* -----header----- */
header {
    background-color: #333;
    background-size: auto;
    text-align: left;
}

.menu-btn {
    display: block;
    border: 1px solid #999;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
}

nav {
    background: #0bd;
    position: absolute;
    z-index: 1;
    top: 3.125rem;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    width: 0;
    transition: 0.5s;
}

nav.open-menu {
    width: 100%;
}