/*
MOBILE SIZE ==================== */
h1 {
    color: aqua;
}

/*
DESCTOP SIZE ==================== */
@media screen and (min-width: 901px) {
    h1 {
        color: blueviolet;
    }
}

/*
ALL SIZE =============== */
header {
    background-color: #333;
}